.AnchorPane {
    -fx-background-image: url('woodBG2.jpg');
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.AnchorPane2 {
    -fx-background-image: url('resources/purpleBG.jpg');
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.AnchorPane3 {
    -fx-background-image: url('setsailbg.jpg');
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}


.scroll-pane{
   -fx-background-color:transparent;
}

.split-pane {
   -fx-background-color:transparent;
}

.split-pane .split-pane-divider{
	-fx-background-color: transparent;
	
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.text-outline {
    -fx-effect: dropshadow(one-pass-box , BLACK, 4, 1, 1, 1 );
}

.stats-text {
	-fx-text-fill: white;
	-fx-effect: dropshadow(one-pass-box, BLACK, 1, 1, 1, 1);
	-fx-font-size: 15px;
	-fx-alignment: center-right;
	-fx-wrap-text: true;
}

.yellow-background {
	-fx-background-color: bisque;
}

.green-background {
	-fx-background-color: limegreen;
}
.red-background {
	-fx-background-color: red;
}

.white-background {
	-fx-background-color: white;
}

.toggle-button {
    
    -fx-text-fill: black;
}

.toggle-button:selected {
    -fx-background-color: #36b558;
    -fx-text-fill: white;
}

.default-toggle-button {
    -fx-text-fill: black;
}

.custom-button1 {
	-fx-background-color: CHARTREUSE;
}

.custom-button1:hover {
	-fx-background-color: forestgreen;
}

.custom-button2 {
	-fx-background-color: MEDIUMTURQUOISE;
}

.custom-button2:hover {
	-fx-background-color: CORNFLOWERBLUE;
}

.custom-button3 {
	-fx-background-color: yellow;
}

.custom-button3:hover {
	-fx-background-color: goldenrod;
}

.custom-button4 {
	-fx-background-color: tomato;
}

.custom-button4:hover {
	-fx-background-color: firebrick;
}